<% include header.ejs %>
    <div class="container">
      <div class="row">
        <div class="box">
          <div>
            <hr>
            <h2 class="intro-text text-center">Searching <strong>Job</strong></h2>
            <hr>
						<div class='text-center'>
							<%
							if (id) {
								var dd = moment(job.submitTime).fromNow();
							%>
							<strong>Job Found</strong><br/>
							Submited <%= dd %> <br/></br>
							
							<div> <!-- job inputs -->
								<h5>Job Inputs</h5>
								<div>
									Job Type <span class="label label-primary"><%= job.jobType %></span> 
									<br/>
									Name <strong><%= job.name %> </strong>  <span class='small muted'><%= job.org %> </span> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
									Email <strong><%= job.email %></strong> 
									<br/> <br/> <br/>

									<a href="/results/<%= id %>" class="btn btn-success btn-lg">Job Results</a>
									<br/> <br/> <br/>
								</div>

							</div> <!-- job inputs -->
							<div> <!-- start of current status -->
								<h6> Current Status </h6><br/>
									<%
									console.log(job.statuses);
									for (var i = 0; i < job.statuses.length; i++) {
										var status = job.statuses[i];
										console.log(status);
									%>
										<div class='text-left col-sm-offset-4'>
											<span class='text-success'><%= moment(status.time).fromNow() %> <i class="fa fa-check-circle"></i> </span> &nbsp; &nbsp; &nbsp; &nbsp;     <%= status.state %>
											<br/>
											<% if ( i !== job.statuses.length - 1  ) { %>
											&nbsp; &nbsp; &nbsp; &nbsp;     <i class="fa fa-arrow-down"></i>
											<% } %>
											<br/>
										</div>
									<% } %>
							</div>
								<% } else { %>
								<strong>Job Not Found</strong>, Would you like to try again! <br/><br/>

								<form id='locate' class="form-horizontal" enctype="multipart/form-data" method='post' action='/locate'>
									<fieldset>

										<div class='form-group'>
											<div class='col-md-6 col-md-offset-3'>
												<p class="input-group">
												<span class="input-group-addon">MIDAS Job Id</span>
													<input type="text" class="form-control input-lg" name="id" placeholder="" />
													</p>
													<p class="help-block text-center"><small>We'll try to locate your job. Hang tight!</small></p>
													<p class="text-center">
													<button type="submit" class="btn btn-success btn-lg">Fetch the Job Details</button>
													</p>
												</span>
											</div>
										</div>


									</fieldset>
								</form>
							</div>
							<!-- End of current status -->

							<% } %>
							
						</div>

          </div>
				</div> <!-- /.box -->
			</div> <!-- /.row -->

    </div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
	$('#jobInputs').validate();
</script>

</body>
</html>
