<% include header.ejs %>
    <div class="container">
      <div class="row">
        <div class="box">
          <div>
            <hr>
            <h2 class="intro-text text-center">Job <strong>Results</strong></h2>
            <hr>
						<div class='text-center'>
							<%
							if (id) {
								var dd = moment(job.submitTime).fromNow();
							%>
							<strong>Job Found</strong><br/>
							Submited <span class="label label-primary"><%= dd %> </span> <br/></br>
							
							<div> <!-- job inputs -->
								<h5>Job Inputs</h5>
								<div>
									Job Type <strong><%= job.jobType %></strong> 
									<br/>
									Name <strong><%= job.name %> </strong>  <span class='small muted'><%= job.org %> </span> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
									Email <strong><%= job.email %></strong> 
									<br/> <br/> <br/>
								</div>

							</div> <!-- job inputs -->
							<div> <!-- start of current status -->
								<h6> Downloadable Job Files </h6><br/>
									<%
									for (var i = 0; i < files.length; i++) {
									if ( files[i] !== 'search.sh' && 
											 files[i] !== 'viz.sh' &&
											 files[i] !== 'filter.sh'
											 ) {
									%>
										<div class='text-left col-sm-offset-5'>
											<%= i + 1 %>. 
										 	<%= files[i] %>	
											&nbsp; 
											<a href='/userData/<%= id %>/<%= files[i] %>'> <i class="fa fa-cloud-download"> </i></a>
											<br/>
											<br/>
										</div>
										<% }} %>
							</div>
								<% } else { %>
								<strong>Job not found</strong>, Would you like to try finding your job again! <br/><br/>

								<form id='locate' class="form-horizontal" enctype="multipart/form-data" method='post' action='/result'>
									<fieldset>

										<div class='form-group'>
											<div class='col-md-6 col-md-offset-3'>
												<p class="input-group">
												<span class="input-group-addon">MIDAS Job Id</span>
													<input type="text" class="form-control input-lg" name="id" placeholder="" />
													</p>
													<p class="help-block text-center"><small>We'll try to locate your job. Hang tight!</small></p>
													<p class="text-center">
													<button type="submit" class="btn btn-success btn-lg">Fetch the Job Details</button>
													</p>
												</span>
											</div>
										</div>


									</fieldset>
								</form>
							</div>
							<!-- End of current status -->

							<% } %>
							
						</div>

          </div>
				</div> <!-- /.box -->
			</div> <!-- /.row -->

    </div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
</script>

</body>
</html>
