<% include header.ejs %>
<style type="text/css" media="screen">
td {
	vertical-align:middle;
}
</style>
<div class="container">

	<div class="row">
		<div class="box">
			<div>
				<hr>
				<h2 class="intro-text text-center"><strong>Output</strong> visualization</h2>
				<hr>

				<div class="col-sm-offset-1 ">
					<br/>
					<div class='row'>
						<div class='pull-left col-md-4'>
							Intact Neutral Metabolite
							<img src="/test/293369/original.jpeg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
						</div>
						<div class='col-md-6'>
							<strong style='font-size:20px;'>1-20:1-2-18:3-phosphatidylethanolamine</strong>
							<br/><br/>
							<dl class="dl-horizontal">
								<dt>File Name<dt>
								<dd>03-day-ctrl-msms-10 pos.FT2<dd>

								<dt>Scan Number<dt>
								<dd>293369</dd>

								<dt>Score<dt>
								<dd>0.2659418168</dd>

								<dt>Explained Peaks<dt>
								<dd>11&gt;20</dd>

								<dt>Parent Mass Error<dt>
								<dd>-0.00803767116122</dd>

							</dl>

						</div>
					</div>
				</div>
				<hr style='max-width:83%;'>
				<div class='text-center' style='padding-left:40px;'>
					<div id='graph'></div>
				</div>
				<hr style='max-width:83%;'>
				<div style='margin:90px;'>
					<strong><span class='text-success'> Identified Peaks</span> </strong><br/><br/>
					<table class='table' style='vertical-align:middle;'>

						<thead>
							<tr>
								<th>m/z</th>
								<th>Relative Intensity</th>
								<th>H-Offset</th>
								<th>m/z Error</th>
								<th>Fragment Level</th>
								<th>Structure</th>
							</tr>
						</thead>

						<% 
						var table = vizContent.AllData[0].Table;
						var v1 = "m/z";
						var v2 = "relative_intensity";
						var v3 = "H-offset";
						var v4 = "m/z_error";
						var v5 = "fragment_level";
						var v6 = "structure";

						for( var i = 0; i < table.length; i++ ) {
						console.dir((table[i])[v1]);
						%>
						<tr style='vertical-align:middle;'>
							<td style='vertical-align:middle;' ><%= (table[i])[v1] %></td>
							<td style='vertical-align:middle;' ><%= (table[i])[v2] %></td>
							<td style='vertical-align:middle;' ><%= (table[i])[v3] %></td>
							<td style='vertical-align:middle;' ><%= (table[i])[v4] %></td>
							<td style='vertical-align:middle;' ><%= (table[i])[v5] %></td>
							<td style='vertical-align:middle;' >
								<img src="/test/<%= (table[i])[v6] %>" alt="post img" class="text-center img-responsive thumb margin10 img-thumbnail" style='width:30%;'>
							</td>
						</tr>
						<% } %>
					</table>
				</div> <!-- /table enclosing -->



			</div>
		</div> <!-- /.box -->
	</div> <!-- /.row -->

</div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/dygraph-combined.js"></script>
<script>

</script>

<% include ../public/test/293369/javascript_code.txt %>

</body>
</html>
