<% include header.ejs %>
<style type="text/css" media="screen">
td {
	vertical-align:middle;
}
</style>
<div class="container">

	<div class="row">
		<div class="box">
			<div class='pull-right'>

				<a class="btn btn-success btn-lg" 
					href="javascript:history.back();">Go Back</a> 
			</div>
			<div>
				<hr>
				<h2 class="intro-text text-center"><strong>Output</strong> visualization</h2>
				<hr>

				<div class="col-sm-offset-1 ">
					<br/>
					<div class='row'>
						<% var i = slot; %>
						<div class='pull-left col-md-4'>
							Intact Neutral Metabolite
							<img src="<%= jobDirectory %><%= vizContent.AllData[slot].Data.Intact_Neutral_Metabolite %>" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
						</div>
						<div class='col-md-6'>
							<strong style='font-size:20px;'><%= vizContent.AllData[i].Data.Name %></strong>
							<br/><br/>
							<dl class="dl-horizontal">
								<dt>File Name<dt>
								<dd><%= vizContent.AllData[i].Data.File_Name %><dd>

								<dt>Scan Number<dt>
								<dd><%= vizContent.AllData[i].Data.Scan_Number %></dd>

								<dt>Score<dt>
								<dd><%= vizContent.AllData[i].Data.Score %></dd>

								<dt>Explained Peaks<dt>
								<dd><%= vizContent.AllData[i].Data.Explained_Peaks %></dd>

								<dt>Parent Mass Error<dt>
								<dd><%= vizContent.AllData[i].Data.Parent_Mass_Error %></dd>

							</dl>

						</div>
					</div>
				</div>
				<hr style='max-width:83%;'>
				<div class='text-center' style='padding-left:40px;'>
					<div id='graph'></div>
				</div>
				<hr style='max-width:83%;'>
				<div style='margin:90px;'>
					<strong><span class='text-success'> Identified Peaks</span> </strong><br/><br/>
					<table class='table' style='vertical-align:middle;'>

						<thead>
							<tr>
								<th>m/z</th>
								<th>Relative Intensity</th>
								<th>H-Offset</th>
								<th>m/z Error</th>
								<th>Fragment Level</th>
								<th>Structure</th>
							</tr>
						</thead>

						<% 
						var table = vizContent.AllData[slot].Table;
						var v1 = "m/z";
						var v2 = "relative_intensity";
						var v3 = "H-offset";
						var v4 = "m/z_error";
						var v5 = "fragment_level";
						var v6 = "structure";

						for( var i = 0; i < table.length; i++ ) {
						console.dir((table[i])[v1]);
						%>
						<tr style='vertical-align:middle;'>
							<td style='vertical-align:middle;' ><%= (table[i])[v1] %></td>
							<td style='vertical-align:middle;' ><%= (table[i])[v2] %></td>
							<td style='vertical-align:middle;' ><%= (table[i])[v3] %></td>
							<td style='vertical-align:middle;' ><%= (table[i])[v4] %></td>
							<td style='vertical-align:middle;' ><%= (table[i])[v5] %></td>
							<td style='vertical-align:middle;' >
								<img src="<%= jobDirectory %><%= (table[i])[v6] %>" alt="post img" class="text-center img-responsive thumb margin10 img-thumbnail" style='width:30%;'>
							</td>
						</tr>
						<% } %>
					</table>
				</div> <!-- /table enclosing -->



			</div>
		</div> <!-- /.box -->
	</div> <!-- /.row -->

</div><!-- /.container -->

<% include footer.ejs %>

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/dygraph-combined.js"></script>
<script>

</script>

<%- include(jcode) %>

</body>
</html>
